@import url(all.min.css);
@import url(bootstrap.min.css);

.bg-color{
    background-color: #9191E9;
    height: 100vh;
}

.tap{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}

.tap > p.text-uppercase{
    width: max-content;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 0.5rem 1rem;

}

.tap .fa-circle-arrow-down{
    font-size: 5rem !important;
}

.btn-custom{
    text-decoration: none;
    color: white;
    font-size: 4rem;
    width: max-content;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-weight: bold;
    background-color: #C2AFF0;
    border: 10px solid white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-custom:hover{
    color: white;
}

img{
    width: 100%;
    border: 10px solid white;
    z-index: -1;
}

.article{
    width: 90%;
    padding: 5px 10px;
    border: 10px solid white;
    background-color: #fff;
    font-size: 3rem;
    font-weight: 600;

    position: absolute;
    top: 85%;
}

div > a{
    font-size: 6rem !important;
    position: absolute;
    color: white;
    right: 5%;
    bottom: -45%;
}

.slide_top{
    animation: 1s ease-in 0s 1 slide_top;
}

.slide_left{
    animation: 1s ease-in 0s 1 slide_left;
}

.slide_right{
    animation: 700ms ease-in 0s 1 slide_right;
}

@keyframes slide_left{
    0% {
        left: -100%;
    }

    100%{
        left: 0%;
    }
}

@keyframes slide_top{
    0% {
        top: -15%;
    }

    100%{
        top: 85%;
    }
}

@keyframes slide_right{
    0% {
        right: 100%;
    }

    100%{
        right: 0%;
    }
}