@import url(all.min.css);
@import url(bootstrap.min.css);

.bg-color{
    background-color: #9191E9;
}

.btn-custom{
    text-decoration: none;
    color: white;
    font-size: 4rem;
    width: max-content;
    padding: 1rem 2rem;
    border-radius: 50px;
    font-weight: bold;
    background-color: #C2AFF0;
    border: 10px solid white;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}